/*COPIA DA QUI*/

html {}

body {
    display: grid;
    font-family: helvetica;
    margin: 0;


}


.navbar {
    display: grid;
    grid-auto-columns: 1fr;
    background-color: #333;
    position: fixed;
    z-index: 1;
    width: 100%;







}

header .spacing {
    margin-top: 3.2em;
}


.navbar a {
    padding: 1em 1em;
    text-align: center;
    color: white;
    text-decoration: none;

}

.navbar :hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF9912;
}


.home {
    grid-column: 1/2;
}

.chisiamo {
    grid-column: 2/3;
    white-space: nowrap;
}

.blog {
    grid-column: 3/4;
}

.eventi {
    grid-column: 4/5;
}

.galleria {
    grid-column: 5/6;
}

.registrati {
    grid-column: 11/12;
}

.login {
    grid-column: 12/13;
}

/*FINO A QUI*/


/*INIZIO EVENTI*/

.copertinaeventi {


    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Immagini/Eventi/spiaggia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

}

.copertinaeventi h1 {

    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;

}

.intermezzoeventi {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
}

.intermezzoeventi h2 {

    font-size: 275%;
    text-align: center;
    grid-row: 2/3;
}

.vacanzeeventi {

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    /*grid-row-gap: 3em;*/
    /*background-color: brown;*/

}

.selettoreeventi {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 1em;
    margin-right: 1em;
    grid-gap: 1em;
    margin-bottom: 3em;
    
}

.wrapfotoeventi {

    height: 50vh;
    width: 100%;
    overflow: hidden;



}

.wrapfotoeventi1 {
    grid-column: 1/2;
}

.wrapfotoeventi2 {
    grid-column: 2/3;
}

.wrapfotoeventi:hover .fotoselettoreeventi {
    transform: scale(1.20);
    transition: transform 0.25s;

}

.wrapfotoeventi:not(:hover) .fotoselettoreeventi {
    transform: scale(1);
    transition: transform 0.25s;
}

.fotoselettoreeventi {

    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;

}

.foto1selettoreeventi {


    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Immagini/Eventi/pag.jpg);

}

.foto2selettoreeventi {


    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Immagini/Eventi/gallipoli.jpg);

}

.wrapfotoeventi h2 {

    position: absolute;
    text-align: center;
    font-size: 3.5em;
    color: white;
    margin: 0;
    width: 100%;
    top: 40%;
}

.vacanzaeventi {


    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
   

    background-color: #f7f7f7;
    height: 100vh;
    
    border-top-style: solid;
    border-top-width: 1em;
    border-top-color: #FF9912 ;
    
    
}

.vacanzaeventi1 {
    grid-row: 2/3;

}

.vacanzaeventi2 {
    grid-row: 3/4;
    margin-bottom: 3em;

}

.titoloeventi {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

}

.titoloeventi h2 {
    grid-row: 2/3;
    font-size: 200%;
    text-align: center;

}

.titoloeventi1 {}

.titoloeventi2 {}


.mappaeventi {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: blue;
    margin-right: 1em;
    margin-left: 1em;

}

.mappaeventi1 {}

.mappaeventi2 {}

.descrizioneeventi {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.2em;
}


.descrizioneeventi1 {}

.descrizioneeventi2 {}


.vacanzeeventi .spacing {
    grid-row: 3/4;
    grid-column: 1/3;
}

.vacanzeeventi .spacing1 {}

.vacanzeeventi .spacing2 {}

/*FINE EVENTI*/


/*BLOG INIZIO*/


.copertinablog {

    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Immagini/Blog/party.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;


}

.copertinablog h1 {

    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;


}


.vacanzablog {
    display: grid;
    grid-template-rows: 1.5fr 5fr 1fr;
    grid-column-gap: 1em;
    grid-template-columns: 4.5fr 5.5fr;
    


}

.vacanzablog:nth-of-type(odd) {
    background-color: #ffe44a;

}


.wraptitoloblog {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 3fr 1 fr;

}

.titoloblog {

    grid-row: 2/3;
    margin-left: 1em;
    text-align: center;
}

.wrapvideoblog {
    grid-column: 1/2;
    grid-row: 2/3;
}





.videoblog {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-left: 1em;


}

.wraptestolateraleblog {
    grid-column: 2/3;
    grid-row: 2/3;


}


.testolateraleblog {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;

}

.spacing {
    grid-column: 1/3;
    grid-row: 3/4;

}

/*BLOG FINE*/












/*COPIA DA QUI*/

.wrapfooter {
    background-color: #222;


}


.wrapfooter p,
ul {
    color: white;
}

.footer {
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapliste {
    grid-column: 1/2;
}

.wrapsocial {
    grid-column: 2/3;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

/*FINO A QUI*/
