.page{
    overflow: hidden;
    border: thick;
    border-color: black;
    border-style: groove;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.vacanzaEventi{
    float: left;
    width: 100%;
      border: thick;
      border-color: green;
      border-style: groove;
      padding-left: 2%;
      padding-right: 2%;
}

.map {
    float: left;
    margin: 2%;
}


.ImgVacanza{
    float: left;
    width: 15%; 
    height: 15%;
    margin: 2%;
}

.testo {
    float: left;
    margin: 2%;
}






/*
*qui inizia il codice della pagina "chi siamo"
*
*/



/*NAVBAR*/

html {}

body {
    display: grid;
    font-family: helvetica;
    margin: 0;
}


.navbar {
    display: grid;
    grid-auto-columns: 1fr;
    background-color: #333;
    position: fixed;
    z-index: 1;
    width: 100vw;


}

.spacing {
    margin-top: 3.2em;
}


.navbar a {
    padding: 1em 1em;
    text-align: center;
    color: white;
    text-decoration: none;

}

.navbar :hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF9912;
}


.home {
    grid-column: 1/2;
}

.chisiamo {
    grid-column: 2/3;
    white-space: nowrap;
}

.blog {
    grid-column: 3/4;
}

.eventi {
    grid-column: 4/5;
}

.galleria {
    grid-column: 5/6;
}

.registrati {
    grid-column: 11/12;
}

.login {
    grid-column: 12/13;
}



/*CORPO*/
.NiceImageSec{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Immagini/ChiSiamo/gruppo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.NiceText
{
    font-family: scriptina;
    font-style: italic;
    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
    width: 100%;
    grid-column: 2/3;
    
}
.Title{
    grid-row: 2/3;
}
.Text{
    grid-row: 3/4;
}











.ChiSiamo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ChiSiamoText{

    padding: 5em;
    text-align: justify;
    grid-column: 1/2;
}


.ChiSiamoText:hover{
background-color: #FF9912;
}


.ChiSiamoJob{
    padding: 5em;
    text-align: justify;
    grid-column: 3/4;
}

.ChiSiamoJob:hover{
    background-color: #FF9912;
}


.ChiSiamoStory{
    padding: 5em;
    text-align: justify;
    grid-column: 2/3;
}


.ChiSiamoStory:hover{
    background-color: #FF9912;
}








.diconoDiNoiClass{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.diconoDiNoi1{
    padding: 5em;
    grid-column: 1/2; 
}


.diconoDiNoi1:hover{
background-color: #FF9912;
}



.diconoDiNoi2{
    padding: 5em;
    grid-column: 2/3;
}

.diconoDiNoi2:hover{
    background-color: #FF9912;
}


.diconoDiNoi3{
    padding: 5em;
    grid-column: 3/4;
}


.diconoDiNoi3:hover{
    background-color: #FF9912;
}

.diconoDiNoiImg{
    width: 100%;
    height: 100%;
}

.diconoDiNoiImg:hover{
    transform: scale(1.2);
    transition: transform 0.2s linear;
}




.society{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/*FOOTER*/



.wrapfooter {
    background-color: #222;
    
}


.wrapfooter p,
ul {
    color: white;
}

.footer {
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

 .wrapliste{
    grid-column: 1/2;
}

.wrapsocial{
    grid-column: 2/3;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

