/*
*qui inizia il codice della pagina "chi siamo"
*
*/



/*NAVBAR*/



body {
    display: grid;
    font-family: helvetica;
    margin: 0;
}


.navbar {
    display: grid;
    grid-auto-columns: 1fr;
    background-color: #333;
    position: fixed;
    z-index: 1;
    width: 100%;


}

.spacing {
    margin-top: 3.2em;
}


.navbar a {
    padding: 1em 1em;
    text-align: center;
    color: white;
    text-decoration: none;

}

.navbar :hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF9912;
}


.home {
    grid-column: 1/2;
}

.chisiamo {
    grid-column: 2/3;
    white-space: nowrap;
}

.blog {
    grid-column: 3/4;
}

.eventi {
    grid-column: 4/5;
}

.galleria {
    grid-column: 5/6;
}


.registrati {
    grid-column: 12/13;
}








/*HOME*/

.copertinaHome{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Immagini/Home/foto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}




.partecipaHome{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.partecipaHome .invitiHome{
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    font-size:3em;
    padding: 2em;
}

.partecipaHome .sottoDiv{
    grid-row:2/3;
    display: grid;
    grid-template-rows: 1fr 1fr; 
} 

.partecipaHome .sottoDiv:hover{
    background-color: #FF9912;
}



.partecipaHome .amici{
    grid-column: 1/2;
}

.partecipaHome .luoghiHome{
    grid-column: 2/3;
}

.partecipaHome .zeroHome{
    grid-column: 3/4;
}



.partecipaHome .descrizione{
    grid-row: 2/3;
    text-align: center;
    font-size:2em;
}



.partecipaHome .imgDiv{
    grid-row: 1/2;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.partecipaHome .radio{
    height: 15em;
    width: 15em;
    overflow: hidden;
    border-radius: 50%;
    grid-column: 2/3;
}
.partecipaHome .circleImg{
    height: 100%;
    width: 100%;
}




.miniGalleriaHome{
    background-color: #111;
    margin-bottom: 3em;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 3em;
    padding-bottom: 3em;
    height: 60vh;
    width: 100%;
}


.sliderDiv{
    grid-column: 2/3;
    height: 60vh;
    width: 50vw;
}



#sliderImg
{
    height: 100%;
    width: 100%;
}














/*INIZIO CHI SIAMO*/
.copertinaChiSiamo{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Immagini/ChiSiamo/gruppo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.copertinaChiSiamo .copertinaText
{
    font-family: scriptina;
    font-style: italic;
    text-align: center;
    font-size: 4em;
    color: white;
    width: 100%;
    grid-column: 2/3;
    
}
.copertinaChiSiamo .title{
    grid-row: 2/3;
}
.copertinaChiSiamo .text{
    grid-row: 3/4;
}







.menuChiSiamo
{
    margin-top:1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size:1.5em;
    margin-bottom:1.5em;
}
.menuChiSiamo .title
{
    text-align: center;
}

.menuChiSiamo .icon{
    height: 5.5em;
    width: 5.5em;
    grid-column: 2/3;
}

.menuChiSiamo .wrapIcon{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
}


.menuChiSiamo .noi{

    padding: 5em;
    text-align: justify;
    grid-column: 1/2;
}


.menuChiSiamo .noi:hover{
background-color: #FF9912;
}


.menuChiSiamo .lavoro{
    padding: 5em;
    text-align: justify;
    grid-column: 3/4;
}

.menuChiSiamo .lavoro:hover{
    background-color: #FF9912;
}


.menuChiSiamo .storia{
    padding: 5em;
    text-align: justify;
    grid-column: 2/3;
}


.menuChiSiamo .storia:hover{
    background-color: #FF9912;
}






.diconoDiNoiChiSiamo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#FFF0F5;
}

.diconoDiNoiChiSiamo .commento1{
    padding: 5em;
    grid-column: 1/2; 
}

.diconoDiNoiChiSiamo .commento2{
    padding: 5em;
    grid-column: 2/3;
}


.diconoDiNoiChiSiamo .commento3{
    padding: 5em;
    grid-column: 3/4;
}


.diconoDiNoiChiSiamo .commentoImg{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.diconoDiNoiChiSiamo .commentoImg:hover{
    transform: scale(1.2);
    transition: transform 0.2s linear;
    opacity: 1;
}










.societyChiSiamo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:1.5em;
}

.societyChiSiamo .alcamo{
    grid-column: 1/2; 
}

.societyChiSiamo .gili{
    grid-column: 2/3; 
}

.societyChiSiamo .bilzerian
{
    grid-column: 3/4; 
}

.societyChiSiamo .name{

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.societyChiSiamo .name:hover{
    background-color: #FF9912;
}


.societyChiSiamo .nomepar{
    grid-column: 1/2;
    text-align: center;
    font-size:1.2em;
    padding: 1em;
}

.societyChiSiamo .imgNome{
    grid-column: 2/3;
    align-content: center;
    padding: 2em;
}

.societyChiSiamo .radio{
    height: 8em;
    width: 8em;
    overflow: hidden;
    border-radius: 50%;
}


.societyChiSiamo .nomeImg{
    height: 100%;
    width: 100%;
}

.societyChiSiamo .radio:hover {
    opacity: 0.7;
}
.societyChiSiamo .testoNome{
    padding: 2em;
}
/* FINE CHI SIAMO*/













/*INIZIO EVENTI*/

.copertinaEventi {


    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Immagini/Eventi/spiaggia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

}

.copertinaEventi h1 {

    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;

}

.intermezzoEventi {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
}

.intermezzoEventi h2 {

    font-size: 275%;
    text-align: center;
    grid-row: 2/3;
}

.sectionVacanzeEventi {

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
   

}

.selettoreEventi {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 1em;
    margin-right: 1em;
    grid-gap: 1em;
    margin-bottom: 3em;
    
}

.wrapFotoEventi {

    height: 50vh;
    width: 100%;
    overflow: hidden;
    border:0;



}

.wrapFotoEventi1 {
    grid-column: 1/2;
}

.wrapFotoEventi2 {
    grid-column: 2/3;
}

.wrapFotoEventi:hover .fotoSelettoreEventi {
    transform: scale(1.20);
    transition: transform 0.25s;

}

.wrapFotoEventi:not(:hover) .fotoSelettoreEventi {
    transform: scale(1);
    transition: transform 0.25s;
}

.fotoSelettoreEventi {

    width: 100%;
    height: 100%;
    display: block;

    background-size: cover;
    background-position: center;

}

.foto1SelettoreEventi {


    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Immagini/Eventi/pag.jpg);

}

.foto2SelettoreEventi {


    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Immagini/Eventi/gallipoli.jpg);

}

.wrapFotoEventi h2 {

    position: absolute;
    text-align: center;
    font-size: 3.5em;
    color: white;
    margin: 0;
    width: 100%;
    top: 40%;
}

.vacanzaEventi {


    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
   

    background-color: #f7f7f7;
    height: 100vh;
    
    border-top-style: solid;
    border-top-width: 1em;
    border-top-color: #FF9912 ;
    
    
}

.vacanzaEventi1 {
    grid-row: 2/3;

}

.vacanzaEventi2 {
    grid-row: 3/4;
    margin-bottom: 3em;

}

.titoloEventi {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

}

.titoloEventi h2 {
    grid-row: 2/3;
    font-size: 200%;
    text-align: center;

}




.mappaEventi {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: blue;
    margin-right: 1em;
    margin-left: 1em;

}

.mappaEventi1 {}

.mappaEventi2 {}

.descrizioneEventi {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.2em;
}




.sectionVacanzeEventi .spacing {
    grid-row: 3/4;
    grid-column: 1/3;
}



/*FINE EVENTI*/


/*BLOG INIZIO*/


.copertinaBlog {

    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Immagini/Blog/party.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;


}

.copertinaBlog h1 {

    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 2/3;


}


.sectionBlog {
    display: grid;
    grid-template-rows: 1.5fr 5fr 1fr;
    grid-column-gap: 1em;
    grid-template-columns: 4.5fr 5.5fr;
    


}

.sectionBlog:nth-of-type(odd) {
    background-color: #ffe44a;

}


.wrapTitoloBlog {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr auto 1fr;

}

.titoloBlog {

    grid-row: 2/3;
    margin-left: 1em;
    text-align: center;
}

.wrapVideoBlog {
    grid-column: 1/2;
    grid-row: 2/3;
}





.videoBlog {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-left: 1em;


}

.wrapTestoLateraleBlog {
    grid-column: 2/3;
    grid-row: 2/3;


}


.testoLateraleBlog {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;

}

.spaziatoreBlog {
    grid-column: 1/3;
    grid-row: 3/4;

}



/*BLOG FINE*/






/*GALLERIA INIZIO*/
.schermataGalleria
{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr;
    grid-template-rows: 1fr auto auto auto auto auto 1fr;
}





/*FOOTER*/





.wrapFooter {
    background-color: #222;


}


.wrapFooter p,
ul {
    color: white;
}

.footer {
    margin-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapListe {
    grid-column: 1/2;
}

.wrapSocial {
    grid-column: 2/3;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}




